{% extends "./base.html" %}
{% block content %}

<form action="{% url 'project_create' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Project title">
    
    <textarea name="description" placeholder="Project description"></textarea>

    <input type="date" name="deadline" placeholder="Project deadline">

    <label for="status">Status:</label>
    <select id="status" name="status">
        {% for status in StatusChoices.choices %}
        <option value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
    </select>
    <label for="priority">Priority:</label>
    <select id="priority" name="priority">
        {% for priority in PriorityChoices.choices %}
        <option value="{{ priority.0 }}">{{ priority.1 }}</option>
        {% endfor %}
    </select>

    <input type="text" name="budget" placeholder="Project budget">

    <input type="text" name="owner" placeholder="Project owner">
    
    <input type="submit" value="OK">

</form>
{% endblock %}