{% extends "./base.html" %}

{% block content %}

{% for project in projects %}
    <li><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></li>
{% endfor %}

<li><a href="{% url 'project_create' %}">Create a new project</a></li>
{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
  <h1 class="text-3xl font-bold">
    Hello world!
  </h1>
</body>
</html>
{% endblock %}