{% extends "./base.html" %}

{% block content %}
<form action="{% url 'task_create' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="task title">
    
    <textarea name="description" placeholder="task description"></textarea>

    <input type="date" name="deadline" placeholder="task deadline">

    <label for="status">Status:</label>
    <select id="status" name="status">
        {% for status in StatusChoices.choices %}
        <option value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
    </select>
    <label for="priority">Priority:</label>
    <select id="priority" name="priority">
        {% for priority in PriorityChoices.choices %}
        <option value="{{ priority.0 }}">{{ priority.1 }}</option>
        {% endfor %}
    </select>

    <label for="project">Project:</label>
    <select id="project" name="project">
        {% for project in projects %}
        <option value="{{ project.id }}">{{ project.title }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="OK">

</form>
{% endblock %}